#darkModeContainer {
    max-width: 320px;
    margin-right: auto;
    margin-left: auto;
}
.headline {
    text-align: center;
    margin-top: 30px;
}
.tempText {
    text-align: center;
}
.buttonCont {
    display: block;
    height: 40px;
}
.headButton {
    -webkit-box-shadow: 0px 3px 10px 0px rgba(94,94,94,1);
    -moz-box-shadow: 0px 3px 10px 0px rgba(94,94,94,1);
    box-shadow: 0px 3px 10px 0px rgba(94,94,94,1);
    height: 45px;
    width: 45px;
    border-radius: 15px;
    border: none;
    background-color: white;
}
.back {
    float: left;
}
.close {
    float: right;
}
.tempGlobal {
    margin-top: 40px;
    height: 300px;
    width: 100%;
    display: block;
}
.tempCont {
    float: left;
    display: block;
    height: 250px;
    width: 60%;
    .tempHead{
        text-align: center;
        font-size: 20px;
    }
    .tempCircle {
        padding-top: 13px;
        padding-left: 30px;
        .segment {
            position: absolute;
            height: 150px;
            width: 150px;
            border-radius: 85px;
            -webkit-transition: 0.1s linear;
            -moz-transition: 0.1s linear;
            -o-transition: 0.1s linear;
            transition: 0.1s linear;
        }
        .segmentOne {
            border-bottom: solid 10px #A8D9F9;
            border-right: solid 10px  rgba(94,94,94,0);
            border-top: solid 10px  rgba(94,94,94,0);
            border-left: solid 10px rgba(94,94,94,0) ;
            z-index: 8;
            transform: rotate(45deg);
            .tempDegree {
                text-align: center;
                margin-top: 54px;
                margin-left: 5px;
                margin-right: 0;
                margin-bottom: 0;
                transform: rotate(-45deg);
                font-size: 45px;
            }
        }
        .segmentTwo {
            border-right: solid 10px #A8D9F9;
            border-left: solid 10px  rgba(94,94,94,0);
            border-top: solid 10px  rgba(94,94,94,0);
            border-bottom: solid 10px rgba(94,94,94,0) ;
            z-index: 7;
            transform: rotate(45deg);
        }
        .segmentThree {
            border-top: solid 10px #A8D9F9;
            border-right: solid 10px  rgba(94,94,94,0);
            border-left: solid 10px  rgba(94,94,94,0);
            border-bottom: solid 10px rgba(94,94,94,0) ;
            z-index: 6;
            transform: rotate(45deg);
        }
        .segmentFour {
            border-left: solid 10px #A8D9F9;
            border-right: solid 10px  rgba(94,94,94,0);
            border-top: solid 10px  rgba(94,94,94,0);
            border-bottom: solid 10px rgba(94,94,94,0) ;
            z-index: 5;
            transform: rotate(45deg);
        }
        .segmentOneRed {
            border-bottom: solid 10px #F98080;
            border-right: solid 10px  rgba(94,94,94,0);
            border-top: solid 10px  rgba(94,94,94,0);
            border-left: solid 10px rgba(94,94,94,0) ;
            transform:rotate(-45deg);
            z-index: 7;

        }
        .segmentTwoRed {
            border-right: solid 10px #F98080;
            border-left: solid 10px  rgba(94,94,94,0);
            border-top: solid 10px  rgba(94,94,94,0);
            border-bottom: solid 10px rgba(94,94,94,0) ;
            z-index: 6;
            transform: rotate(-9deg);
        }
        .segmentThreeRed {
            border-top: solid 10px #F98080;
            border-right: solid 10px  rgba(94,94,94,0);
            border-left: solid 10px  rgba(94,94,94,0);
            border-bottom: solid 10px rgba(94,94,94,0) ;
            z-index: 5;
            transform: rotate(45deg);
        }
        .segmentFourRed {
            border-left: solid 10px #F98080;
            border-right: solid 10px  rgba(94,94,94,0);
            border-top: solid 10px  rgba(94,94,94,0);
            border-bottom: solid 10px rgba(94,94,94,0) ;
            z-index: 4;
            transform: rotate(45deg);
        }
    }
}
.first {
    margin-top: 30px;
}
.tempContSmall {
    float: right;
    display: block;
    height: 125px;
    width: 40%;
    .tempCircleSmall {
        .segmentSmall {
            position: absolute;
            height: 86px;
            width: 86px;
        }
        .segmentOneSmall {
            border-bottom: solid 10px #A8D9F9;
            border-right: solid 10px  rgba(94,94,94,0);
            border-top: solid 10px  rgba(94,94,94,0);
            border-left: solid 10px rgba(94,94,94,0) ;
            border-radius: 85px;
            z-index: 8;
            transform: rotate(45deg);
            align-items: center;
            h3 {
                transform: rotate(-45deg);
                text-align: center;
                margin-right: auto;
                margin-left: auto;
                font-size: 17px;
                font-weight: 500;
                margin-left: -37px;
                padding-top: 19px;
            }
            p {
                transform: rotate(-45deg);
                text-align: center;
                margin-right: auto;
                margin-left: auto;
                font-size: 25px;
                font-weight: 400;
                margin-right: -25px;
                margin-top: -20px;
            }
        }
        .segmentTwoSmall {
            border-right: solid 10px #A8D9F9;
            border-left: solid 10px  rgba(94,94,94,0);
            border-top: solid 10px  rgba(94,94,94,0);
            border-bottom: solid 10px rgba(94,94,94,0) ;
            border-radius: 85px;
            z-index: 7;
            transform: rotate(45deg);
        }
        .segmentThreeSmall {
            border-top: solid 10px #A8D9F9;
            border-right: solid 10px  rgba(94,94,94,0);
            border-left: solid 10px  rgba(94,94,94,0);
            border-bottom: solid 10px rgba(94,94,94,0) ;
            border-radius: 85px;
            z-index: 6;
            transform: rotate(45deg);
        }
        .segmentFourSmall {
            border-left: solid 10px #A8D9F9;
            border-right: solid 10px  rgba(94,94,94,0);
            border-top: solid 10px  rgba(94,94,94,0);
            border-bottom: solid 10px rgba(94,94,94,0) ;
            border-radius: 85px;
            z-index: 5;
            transform: rotate(45deg);
        }
        .segmentOneRedSmall {
            border-bottom: solid 10px #F98080;
            border-right: solid 10px  rgba(94,94,94,0);
            border-top: solid 10px  rgba(94,94,94,0);
            border-left: solid 10px rgba(94,94,94,0) ;
            border-radius: 85px;
            transform:rotate(-45deg);
            z-index: 7;

        }
        .segmentTwoRedSmall {
            border-right: solid 10px #F98080;
            border-left: solid 10px  rgba(94,94,94,0);
            border-top: solid 10px  rgba(94,94,94,0);
            border-bottom: solid 10px rgba(94,94,94,0) ;
            border-radius: 85px;
            z-index: 6;
            transform: rotate(-9deg);
        }
        .segmentThreeRedSmall {
            border-top: solid 10px #F98080;
            border-right: solid 10px  rgba(94,94,94,0);
            border-left: solid 10px  rgba(94,94,94,0);
            border-bottom: solid 10px rgba(94,94,94,0) ;
            border-radius: 85px;
            z-index: 5;
            transform: rotate(45deg);
        }
        .segmentFourRedSmall {
            border-left: solid 10px #F98080;
            border-right: solid 10px  rgba(94,94,94,0);
            border-top: solid 10px  rgba(94,94,94,0);
            border-bottom: solid 10px rgba(94,94,94,0) ;
            border-radius: 85px;
            z-index: 4;
            transform: rotate(45deg);
        }
    }
}

.tempText {
    margin-top: 20px;
}
.tempChange {
    -webkit-box-shadow: 0px 3px 10px 0px rgba(94,94,94,1);
    -moz-box-shadow: 0px 3px 10px 0px rgba(94,94,94,1);
    box-shadow: 0px 3px 10px 0px rgba(94,94,94,1);
    width: 310px;
    border-radius: 10px;

    input {
        margin-right: auto;
        margin-left: auto;
        display: block;
    }
    .slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 14px;
        border-radius: 7px;
        height: 27px;
        background-color: #c4c4c4;
    }
    .slider {
        appearance: none;
        width: 240px;
        height: 19px;
        margin-top: -19px;

    }
    .imgSlider {
        margin-left: auto;
        margin-right: auto;
        display: block;
        z-index: -1;
    }
}
.rotate1 {
    transform: rotate(45deg);
}
.rotate2 {
    transform: rotate(9deg);
}
.rotate3 {
    transform: rotate(-27deg);
}
.rotate4 {
    transform: rotate(-45deg);
}
.rotate5 {
    transform: rotate(27deg);
}
.rotate6 {
    transform: rotate(-9deg);
}
.applyCont {
    width: 110px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    button {
        display: none;
        margin-right: auto;
        margin-left: auto;
        margin-top: 30px;
        height: 42px;
        width: 110px;
        border: none;
        border-radius: 19px;
        background-color: white;
        -webkit-box-shadow: 0px 3px 10px 0px rgba(94,94,94,1);
        -moz-box-shadow: 0px 3px 10px 0px rgba(94,94,94,1);
        box-shadow: 0px 3px 10px 0px rgba(94,94,94,1);
        p {
            margin: 0;
            font-size: 17px;
            font-weight: 500;
        }
    }
}
.darkIcon {
    display: none;
}
.lightIcon {
    position: absolute;
    margin-top: -6px;
    margin-left: -6px;
}
.lightIcon1 {
    margin-top: -10px !important;
    margin-left: -11px !important;
}
//Dark mode