<div class="global darkModeMain">
    <div class="darkmode"><img class="switch switch1" src="assets/switchDark.png"><img class="switch switch2 toggle" src="assets/switchLight.png"></div>
    
<div class="Margin">  
    <p class="temperature">Temperature</p>
    <h1 class="weather">25°</h1>
    <p class="control">Control</p>
</div> 

<div class="container">
    <div class="buttonCont1">
        <button mat-raised-button class="air" type="button" routerLink="../Temperature"> <img src="assets/air.png">Air</button>
    </div>
    <div class="buttonCont2">
        <button mat-raised-button class="turnoff" type="button" routerLink=""><img src="assets/Icon_awesome-power-off.png">Turn off</button>
    </div>
    <router-outlet></router-outlet>
</div>



    <div class="didyouknow">
        <h6>Did you know..</h6>
        <p>If you sit bending over the screen for too long... you're just gonna end up like the guy from The hunchback of notre-dame.
        </p>
        <button mat-raised-button class="btn" type="button">More tips</button>
        <p class="toggle text">and elephant can smell water from 12 miles away</p>
    </div>
</div>