p {
    font-size: 27px;
    font-family: 'inter', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin-bottom: -55px;
    color: #353d4a;
    font-weight: 500;
    margin-left: -15px;
}