<div class="global">
    <img class="logo logoLight" src="assets/logo_grey.png" alt="logo_grey">
    <img class="logo logoDark" src="assets/Logo-white-new.png" alt="logo_white">
    <p class="IP"> Room Name:</p>
    <input type="text" class="ipAdressField" placeholder="San Diego"><br>
    <button (click)="getAll()" mat-raised-button type="submit" class="submitIPAdress" routerLink="Code">LOG IN</button>
    <router-outlet></router-outlet>
    <p class="Attention"> ATTENTION: You can find the room name on the air-conditioner device.</p>
</div>
<app-weather-component></app-weather-component>