<div class="global">
    <img class="logo logoLight" src="assets/logo_grey.png" alt="logo_grey">
    <img class="logo logoDark" src="assets/Logo-white-new.png" alt="logo_white">
    <p class="IP"> Your IP Adress:</p>
    <input type="text" class="ipAdressField" placeholder="192.168.1.1"><br>
    <button mat-raised-button type="submit" class="submitIPAdress" routerLink="Code">LOG IN</button>
    <router-outlet></router-outlet>
    <p class="Attention"> ATTENTION: IP Adress you will find it on air-conditioner device.</p>
</div>
<app-weather-component></app-weather-component>